<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<appSettings>
		<!-- Server Configuration -->
		<add key="ClientLauncherBaseUrl" value="http://10.21.10.1:8102"/>

		<!-- Local Storage Configuration -->
		<add key="AppsBasePath" value="C:\CompanyApps"/>

		<!-- Logging Configuration -->
		<add key="LogLevel" value="Info"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>